.about{
    margin-top: 20px;
    padding-top: 80px;
    width: 100vw;
   height: 100vh;
   background: #c9c9ab ;
}
hr{
    width: 50px;
    background: red;
    height: 3px;
    margin-top: -23px;
}
